
#wrapper {
    color: #f1f1f1;
    text-align: center;
}

main{
  margin: 0;
}

header{
  padding-top: 1.75%;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.topborder{
  float: right;
  width: 100%;
  height: 110px;
  background-color: #729ff3;
  position: fixed;
  top: 0;
}

main{
  margin-left: 140px;
  padding: 0px 10px;
}

.bg{

  position: fixed;
}

.summary {
  margin-top: 10%;
  margin-left: 23%;
  position: fixed;
  text-shadow: 0px 2px 3px #555;
}
.sidenav {
  height: 100%;

  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #dd9bab;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 30px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fcf7f8;
  display: block;
}

.sidenav a:hover {
  color: #fcf7f8;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

:root {
  --mainColor: #ffcdda;
}

body {
  align-items: center;
  display: flex;
  font-size: 2em;
  font-family: 'B612', sans-serif;
  overflow: hidden;
}

a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
}

/* JS CSS */

.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #729ff3 5%, #5170aa 100%);
	background-color:#729ff3;
	border-radius:6px;
	border:1px solid #5170aa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5170aa 5%, #729ff3 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
